---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About me">
    <div class="article-header">
        <h1>m3tr0 / EH / chiehhhhh</h1>
    </div>
    <div class="article-body">
        <p>嗨嗨，我是EH，你可以直接叫我捷運或m3tr0。我是一個喜歡打CTF但很廢的人，什麼都有碰一點，但都沒有很強，最近在嘗試回歸初心不要用LLM打CTF&嘗試變成會pwn的人。</p>

        <h2>打過的比賽 | 名次 （沒放的就是打很爛）</h2>
        <p>GiCS 第六屆 | 高中職組第二名 @一隻小熊在跳舞呼啦呼啦啦</p>
        <p>AIS3 pre-exam 2026 | 73名</p>
        <p>MyFirstCTF 2026 | 參加</p>
        <p>THJCC CTF 2026 | 學生第10 / 公開第44</p>
        <p>THJCC CTF 2026 | 潛力獎</p>
        <p>AIS3 EOF 2025 | 初賽參加</p>
        <p>金盾獎 2025 | 初賽參加</p>
        <p>AIS3 2025 pre-exam | 參加</p>
        <p>THJCC 2025 | 參加</p>
        <p>AIS3 2025程式安全黑客松 | 參加</p>

        <h2>資訊社群活動經歷</h2>
        <p>中崙高中資訊研習社第23屆 | 社長&教學</p>
        <p>Fun Tech AI程式公益營 | 總召&教材編寫</p>
        <p>零日餅乾社寒訓 | 參加</p>
        <p>HITCON CTF 2025 | 會眾</p>
        <p>SITCON 2026 | 會眾</p>
        <p>CTF資安種子交流會 | 會眾</p>
        <p>AIS3 club 2025 幹部訓練 | 參加</p>

        <h2>contact me</h2>
        <p>如果你想與我交流，歡迎透過這些方式聯絡我：</p>
		<p>email: <code>yefeng757@gmail.com</code></p>
		<p>instagram: zlcsc23_m3tr0</p>
		<p>discord: chiehhhhh_</p>
    </div>
</BaseLayout>

<style>
    .article-header { margin-bottom: 3rem; }
    .article-header h1 { font-size: 2rem; margin: 0 0 0.5rem 0; font-weight: 600; line-height: 1.3; }
</style>