---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About me">
    <div class="article-header">
        <h1>m3tr0 / EH / chiehhhhh</h1>
    </div>
    <div class="article-body">
        <p>嗨嗨，我是EH，你可以直接叫我捷運或m3tr0。我是一個喜歡打CTF但很廢的人，什麼都有碰一點，但都沒有很強，最近在嘗試回歸初心不要用LLM打CTF&嘗試變成會pwn的人。</p>

        <h2>資訊安全比賽 | 名次 （沒放的就是打很爛）</h2>
        <p>ISIP.HSCTF | 學生賽區第10名 / 公開第14名 @單身狗防火牆</p>
        <p>GiCS 第六屆 | 高中職組第二名 @一隻小熊在跳舞呼啦呼啦啦</p>
        <p>AIS3 pre-exam 2026 | 73名</p>
        <p>MyFirstCTF 2026 | 參加</p>
        <p>THJCC CTF 2026 | 學生第10名 / 公開第44名</p>
        <p>THJCC CTF 2026 | 潛力獎</p>
        <p>AIS3 EOF 2025 | 初賽參加</p>
        <p>金盾獎 2025 | 初賽參加</p>
        <p>AIS3 2025 pre-exam | 參加</p>
        <p>THJCC CTF 2025 | 參加</p>
        <p>AIS3 2025北區高中職程式安全黑客松 | 參加</p>

        <h2>資訊安全證照</h2>
        <p>:)...</p>

        <h2>程式相關</h2>
        <p>APCS | 觀念3級實作2級（希望能盡快更新成至少5/3 XD）</p>
        <p>113 學年度國際運算思維挑戰賽 | PR94</p>
        <p>111 年度新北市國中小學生 SCRATCH 程式設計競賽複賽 | 參加</p>

        <h2>資訊活動 / 研習經歷</h2>
        <p>中崙高中資訊研習社第23屆 | 社長&教學</p>
        <p>Fun Tech 程式AI公益營 | 總召&教材編寫</p>
        <p>115年度 教育體系資安攻防演練 | 檢測員</p>
        <p>CYBERSEC 2026 | 會眾</p>
        <p>零日餅乾社寒訓 | 參加</p>
        <p>SITCON 2026 | 會眾</p>
        <p>CTF資安種子交流會 | 會眾</p>
        <p>HITCON 2025 | 會眾</p>
        <p>AIS3 club 2025 幹部訓練 | 參加</p>
        <p>114年度 臺灣科技大學智慧資通領航體驗營 | 結業</p>

        <h2>非資訊相關的一些東西:)</h2>
        <p>2025 See Think Wonder Challenge Qualification Challenge | 複賽參加</p>

        <h2>contact me</h2>
        <p>如果你想與我交流，歡迎透過這些方式聯絡我（可以的話還是盡量以DC聯絡我XD）：</p>
		<p>email: <code>yefeng757@gmail.com</code></p>
		<p>instagram: zlcsc23_m3tr0</p>
		<p>discord: chiehhhhh_</p>
    </div>
</BaseLayout>

<style>
    .article-header { margin-bottom: 3rem; }
    .article-header h1 { font-size: 2rem; margin: 0 0 0.5rem 0; font-weight: 600; line-height: 1.3; }
</style>