---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

// 取得文章並排序
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="m3tr0's posts">
	<div class="posts-container">
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.id.replace(/\.(md|mdx)$/, '')}/`}>
							<h4 class="title">{post.data.title}</h4>
							<p class="date">
								<FormattedDate date={post.data.pubDate} />
							</p>
							{post.data.tags && (
								<div class="tags">
									{post.data.tags.map((tag) => (
										<span class="tag">#{tag}</span>
									))}
								</div>
							)}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>

<style>
	.posts-container {
		margin-top: -1rem;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	ul li {
		margin-bottom: 2.5rem;
	}
	.title {
		margin: 0 0 0.25rem 0;
		font-size: 1.4rem;
		font-weight: 600;
		color: #fff;
	}
	.date {
		margin: 0;
		color: #888;
		font-family: monospace;
		font-size: 0.9rem;
	}
	.tags {
		display: flex;
		gap: 0.6rem;
		margin-top: 0.5rem;
	}
	.tag {
		font-size: 0.8rem;
		color: var(--accent); /* 使用 global.css 定義的顏色 */
		opacity: 0.7;
	}
	ul li a {
		text-decoration: none;
	}
	ul li a:hover .title {
		text-decoration: underline;
	}
</style>